.background{
    background-image: url("../assets/imgs/BG.png");
    background-position: 50%;
}
.scroll-content{
    overflow: hidden;
    text-align: center;
}
ion-input{
    border-bottom: #DCDCDC solid 1px;
}